[Desktop Entry]
Type=Application
Terminal=true
Name=Kyanite-Client
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c '~/AirTurtle/src/utilities/scripts/kyaneteclient.sh;$SHELL'"
Categories=Application;