[Desktop Entry]
Type=Application
Terminal=false
Name=Stop-Kyanite
Exec=gnome-terminal -e "bash -c '~/AirTurtle/src/utilities/scripts/kyaneteStop.sh;$SHELL'"
Categories=Application;