[Desktop Entry]
Type=Application
Terminal=false
Name=Stop-Kyanite-Camera
Exec=gnome-terminal -e "bash -c '~/AirTurtle/src/utilities/scripts/stopkyaniteCamera.sh;$SHELL'"
Categories=Application;